<template name="editProject">
{{#if isAdmin}}
<div class="container">
  <div class="pagecontainer">
   {{> flashMessages}}

   <!-- {{> quickForm collection="Projects" id="insertProjectForm" type="insert"}} -->
   {{#autoForm collection="Projects" doc=project id="editProjectForm" type="update"}}
   <fieldset>
    <legend> Edit Project</legend>
    {{> afQuickField name='title' class='strInput'}}
    {{> afQuickField name='summary' rows = 3}}
  {{> afQuickField name='imgurl' class='strInput'}}
   {{> afQuickField name='exturl' class='strInput'}}
   {{> afQuickField name='epics' options=EpicList}}
   {{> afQuickField name='labPhase'}} 



   </fieldset>
   <div>
   <button type="submit" class="btn btn-primary"> Save </button>
    <button type="button" class="btn btn-default cancel">Cancel</button>
   </div>
   {{/autoForm}}
 </div>
  </div>
{{else}}
<div class="container">
  <div class="pagecontainer">
    <div class="errorLogin">
      You have to login to view this page. Login <a href="{{pathFor 'login'}}"> here </a>.
      </div>
 </div>
  </div>
{{/if}}
</template>