

<template name="projects">
<div class="container">
  <div class="pagecontainer">
   {{> flashMessages}}
		<div class="projectPortfolio">
	
	<div class="item">
		    <div class="item-content-block tags">
		    	<a id="allfilter" href={{pathFor 'projects'}}>All</a>
		    
		    	{{#each EpicsList}}
		    	
		    	<a id="filter" href="#">{{label}}</a>
		    	{{/each}}
		    </div>
		</div>
		
	
		<div class="row">
			{{#each projects}}
			
    		<div class="[ col-sm-4 col-md-3 ]">
				<div class="[ info-card ]">
					<img style="width:100%;" src="{{getImageURL imgurl}}" onError="this.src='/img/default.png'" />

			
					<div class="[ info-card-details ] animate">
						<div class="[ info-card-header ]">
						

							<h1> {{title}} </h1> {{#if isInRole 'admin'}}
				 <a href="{{pathFor 'editProject'}}"> Edit </a>
			{{/if}}
							<h3 class="tags"> {{tags}} </h3>
							{{{convertPhasetoIcon labPhase}}}
							
						</div>
						<div class="[ info-card-detail ]">
							<!-- Description -->
							<p>{{summary}}</p>

						</div>
						
 					</div>
				</div>
			</div>
			{{else}}
				<div class="container">
		  			<h2> No projects in progress </h2>
				</div>
			{{/each}}
		</div>
		
		
	</div>
</div>
</div>
</template>
