<!-- <template name="projects">
<div class="pagecontainer">

  <h3>Projects: </h3>
  <ul>
    {{#each projects}}
      <li><a href="{{pathFor "project"}}">{{title}}</a></li>
    {{/each}}
  </ul>
  </div>
</template>
-->

<template name="projects">
<div class="container">
  <div class="pagecontainer">
		<div class="projectPortfolio">
		<!-- <h2> Projects: </h2> -->
		<!--
		<div class="item phase">
				<div class="label phase">
				<div class= "[col-sm-4 col-md-3 col-lg-3] phase">
					
					<i class="fa fa-lightbulb-o"></i> 
					<a id="filterPhase" href="#">Idea </a>
				</div>
				</div>

				<div class="label phase">
				<div class= "[col-sm-4 col-md-3 col-lg-3] phase">

					<i class="fa fa-lightbulb-o"></i> 
					<a id="filterPhase" href="#">Test</a>
				</div>
				</div>


				<div class="label phase">
				<div class= "[col-sm-4 col-md-3 col-lg-3] phase ">
					
					<i class="fa fa-lightbulb-o"></i> 
					<a id="filterPhase" href="#">Graduate</a>
					
				</div>
				</div>

				<div class="label phase">
				<div class= "[col-sm-4 col-md-3 col-lg-3] phase">
					<i class="fa fa-lightbulb-o"></i> 
					<a id="filterPhase" href="#">Archive</a>
				</div>
				</div>
			</div>
			-->
		<!--
		<div class="phases">
		{{#sidebarLeft width="300px"}}
			<ul>
				<li> Temp </li>
				<li> Temp </li>
								<li> Temp </li>
												<li> Temp </li>
																<li> Temp </li>
			</ul>
		{{/sidebarLeft}}
		</div>
		-->
		<div class="item">
		<!--    <div class="item-content-block">
		    	<div class="block-title">Projects</div>
		    </div> -->
		    <div class="item-content-block tags">
		    	<a id="allfilter" href={{pathFor 'projects'}}>All</a>
		    	<a id="filter" href="#">Analytics</a> 
		    	<a id="filter" href="#">Client Computing</a>  
		    	<a id="filter" href="#">Deployment</a>    
		    	<a id="filter" href="#">Development</a> 
	    		<a id="filter" href="#">Digital Workspace</a> 
		    	<a id="filter" href="#">Enterprise Search</a> 
		    	<a id="filter" href="#">Infrastructure</a> 
		    	<a id="filter" href="#">Marketing</a> 
		    	<a id="filter" href="#">Mobile Computing</a> 
		    	<a id="filter" href="#">Process</a> 
		    	<a id="filter" href="#">Security</a> 
		    	<a id="filter" href="#">Testing</a> 
		    </div>
		</div>


		
	
		<div class="row">
			{{#each projects}}
    		<div class="[ col-sm-4 col-md-3 ]">
				<div class="[ info-card ]">
					<img style="width: 100%" src={{imgurl}} > <!--src="/img/sample_300.jpg" /> -->
					<div class="[ info-card-details ] animate">
						<div class="[ info-card-header ]">
							<!--<h1> <a href="{{pathFor "project"}}"> {{title}}</a> </h1>-->
							<h1> <a href="{{exturl}}" target='_blank'> {{title}}</a> </h1>
							<h3 class="tags"> {{epic}} </h3>
							{{{convertPhasetoIcon labPhase}}}
							<!--	<h3> <span class="label"> Digital Workspace </span> </h3> -->
						</div>
						<div class="[ info-card-detail ]">
							<!-- Description -->
							<p>{{summary}}</p>

						</div>
						
 					</div>
				</div>
			</div>
			{{else}}
				<div class="container">
		  			<h2> No projects in progress </h2>
				</div>
			{{/each}}
		</div>
		
		
	</div>
</div>
</div>
</template>