
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=f9f26ee9-e96d-497f-8425-76455978b7cf");
@font-face{

font-family:"AvenirNextLTW01-Regular";

src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");

src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("../fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),url("../fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");

}

@font-face{

font-family:"AvenirNextLTW01-Italic";

src:url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix");

src:url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot"),url("../fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff"),url("../fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf") format("truetype"),url("../fonts/1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg");

}

@font-face{

font-family:"Avenir Next LT W01 Demi";

src:url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");

src:url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"),url("../fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),url("../fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"),url("../fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");

}

@font-face{

font-family:"AvenirNextLTW01-DemiIta";

src:url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix");

src:url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix") format("eot"),url("../fonts/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff") format("woff"),url("../fonts/bc13ae80-cd05-42b4-b2a9-c123259cb166.ttf") format("truetype"),url("../fonts/4862b373-2643-46b1-b0b5-88537c52d15c.svg#4862b373-2643-46b1-b0b5-88537c52d15c") format("svg");

}

@font-face{

font-family:"Avenir Next LT W01 Bold";

src:url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");

src:url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"),url("../fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),url("../fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"),url("../fonts/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg");

}

@font-face{

font-family:"AvenirNextLTW01-BoldIta";

src:url("../fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix");

src:url("../fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix") format("eot"),url("../fonts/25e83bf5-47e3-4da7-98b1-755efffb0089.woff") format("woff"),url("../fonts/4112ec87-6ded-438b-83cf-aaff98f7e987.ttf") format("truetype"),url("../fonts/ab1835cb-df6f-4d8d-b8ee-3075f5ba758d.svg#ab1835cb-df6f-4d8d-b8ee-3075f5ba758d") format("svg");

}

@font-face{

font-family:"AvenirNextLTW01-Condens 721299";

src:url("../fonts/f737d53f-f6ed-4f15-8fe7-925fb68a8851.eot?#iefix");

src:url("../fonts/f737d53f-f6ed-4f15-8fe7-925fb68a8851.eot?#iefix") format("eot"),url("../fonts/19db35b6-b3e8-400b-ae62-a3d37cc9fa56.woff") format("woff"),url("../fonts/61860563-e9eb-40bd-844e-48e96af9d063.ttf") format("truetype"),url("../fonts/94f6e6be-004d-4b3a-8b0e-f07609dc1726.svg#94f6e6be-004d-4b3a-8b0e-f07609dc1726") format("svg");

}

@font-face{

font-family:"AvenirNextLTW01-Condens 721302";

src:url("../fonts/8e7f81d1-94dd-47e6-94ce-9c278d5d1ecc.eot?#iefix");

src:url("../fonts/8e7f81d1-94dd-47e6-94ce-9c278d5d1ecc.eot?#iefix") format("eot"),url("../fonts/6b0725b6-26e5-4bcf-8174-4d4b4d4217b9.woff") format("woff"),url("../fonts/435f931d-7af1-4f3a-a084-3d7aed6cd568.ttf") format("truetype"),url("../fonts/962508db-d57e-4eb1-a483-28a105ee2b25.svg#962508db-d57e-4eb1-a483-28a105ee2b25") format("svg");

}

@font-face{

font-family:"AvenirNextLTW01-DemiCn";

src:url("../fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix");

src:url("../fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix") format("eot"),url("../fonts/add96dac-4679-4981-9390-74fd5a5bf61f.woff") format("woff"),url("../fonts/60f1dfd0-eea9-448c-84a0-e4e8d5ba7516.ttf") format("truetype"),url("../fonts/f9659813-f8c7-4548-9117-b8e02fa26641.svg#f9659813-f8c7-4548-9117-b8e02fa26641") format("svg");

}

@font-face{

font-family:"AvenirNextLTW01-DemiCnI 721308";

src:url("../fonts/59849657-f79e-4c9c-807e-cf3bdaf6cd8c.eot?#iefix");

src:url("../fonts/59849657-f79e-4c9c-807e-cf3bdaf6cd8c.eot?#iefix") format("eot"),url("../fonts/0053d44b-70fb-4049-bb99-4e049090191f.woff") format("woff"),url("../fonts/e317c755-2435-4d10-8756-67a0179564a5.ttf") format("truetype"),url("../fonts/a4ba042b-90d1-4acd-baea-706dee7fa81b.svg#a4ba042b-90d1-4acd-baea-706dee7fa81b") format("svg");

}

@font-face{

font-family:"AvenirNextLTW01-BoldCn";

src:url("../fonts/07690b8a-c348-4c53-8de3-59f7cfef9ee8.eot?#iefix");

src:url("../fonts/07690b8a-c348-4c53-8de3-59f7cfef9ee8.eot?#iefix") format("eot"),url("../fonts/ff039068-be8b-415c-b1a9-24eedee1c3ab.woff") format("woff"),url("../fonts/cdd2cecb-bd0e-41e5-9ecd-ef60f52a35be.ttf") format("truetype"),url("../fonts/390c08bc-8d21-4af3-95a1-a73c21f189cd.svg#390c08bc-8d21-4af3-95a1-a73c21f189cd") format("svg");

}

@font-face{

font-family:"AvenirNextLTW01-BoldCnI 721320";

src:url("../fonts/34b322c2-c1c5-40af-b8e1-fb7574cf68e4.eot?#iefix");

src:url("../fonts/34b322c2-c1c5-40af-b8e1-fb7574cf68e4.eot?#iefix") format("eot"),url("../fonts/8a911a4d-274f-4996-8857-e2c1d6b42d80.woff") format("woff"),url("../fonts/9b626f1d-8523-44d7-b47e-37ac358725b0.ttf") format("truetype"),url("../fonts/704e9f93-4543-421e-861d-7246e89734f7.svg#704e9f93-4543-421e-861d-7246e89734f7") format("svg");

}

