body{
 background:#009ADF;
} 

h1 {
	margin-left: 60px !important;
	font-family: helvetica;
	font-weight:200;
	font-size:30px;
}

h3 {
	margin-left: 60px !important;
	font-family: helvetica;
	font-weight:200;
	font-size:25px;
	display: block;
}


.color1{
 color:#00838e;
} 
.color2{
 color:#ff6c00;
} 
.color3{
 color:#00a7ff;
} 
.color4{
 color:#00652b;
} 
.color5{
 color:#d80000;
}

.hoverbuttons{
 text-align:center;
 width:100%;
 height:310px;
 margin:40 auto;
 margin-left: 60px;
 margin-top:50px;
}

.hoverbutton{
 float:left;
 
 width:260px;
 height:260px;
 background:#fff;
 border:1px solid #efefef;
 border-radius:10px;
 margin:10px;
 -webkit-transition: 0.25s all ease-in-out;
 -moz-transition: 0.25s all ease-in-out;
 -ms-transition: 0.25s all ease-in-out;
 -o-transition: 0.25s all ease-in-out;
 transition: 0.25s all ease-in-out;
 vertical-align:top;
}



.active{
 width:360px;
 height:360px;
 }
 
 
 .hoverbutton span{

 display:block;
 font-size:54px;
 padding-top:20px;
 -webkit-transition: 0.25s all ease-in-out;
 -moz-transition: 0.25s all ease-in-out;
 -ms-transition: 0.25s all ease-in-out;
 -o-transition: 0.25s all ease-in-out;
 transition: 0.25s all ease-in-out;
}

.hoverbutton h5{
 margin-top:0px;
 font-weight:300;
 font-size: 20px;
 color:grey;
 -webkit-transition: 0.25s all ease-in-out;
 -moz-transition: 0.25s all ease-in-out;
 -ms-transition: 0.25s all ease-in-out;
 -o-transition: 0.25s all ease-in-out;
 transition: 0.25s all ease-in-out;
}
.hoverbutton p{
 color:grey;
 font-size:14px;
 opacity:0;
 padding:15px;
}
.hoverbutton p a{
 color:#1489ff;
 text-decoration:none;
}

.active p{
/*revealing the active tile para on hover*/
 opacity:1;
/*easing in transition*/
 -webkit-transition: 0.25s all ease-in-out;
 -moz-transition: 0.25s all ease-in-out;
 -ms-transition: 0.25s all ease-in-out;
 -o-transition: 0.25s all ease-in-out;
 transition: 0.25s all ease-in-out;
/*delay of 0.25s for better effect*/
 -webkit-transition-delay: 0.25s;
 -moz-transition-delay: 0.25s;
 -ms-transition-delay: 0.25s;
 -o-transition-delay: 0.25s;
 transition-delay: 0.25s;
}

.active span{
 font-size:81px;
 -webkit-transition: 0.25s all ease-in-out;
 -moz-transition: 0.25s all ease-in-out;
 -ms-transition: 0.25s all ease-in-out;
 -o-transition: 0.25s all ease-in-out;
 transition: 0.25s all ease-in-out;
}
.active h5{
 margin-top:15px;
}

.logoimg {
	margin-top:20px;
	margin-bottom:20px;
}

.container {
	display: inline-block;
}


/*
* Style tweaks
* --------------------------------------------------
*/
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 100px;
}
footer {
    padding: 30px 0;
}

/*
 * Custom styles
 */
 navbar-header {
 	height:50px;
 	margin-left:100px;
 }

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

pagecontainer { 
    margin-top: 60px;
    margin-left: 50px;
}