<template name="login">
<div class="container">
  <div class="pagecontainer">
	<!--{{> loginButtons}} -->
	{{> flashMessages}}

	{{#if currentUser}}

	{{> adminPage}}

	{{else}}
	<!--<div class="errorLogin"> -->
	<form id="loginForm" action="action">
      <div>
        <input type="text" id="loginUserName" />
        <input type="password" id="loginPassword" />
        <input type="submit" id="loginButton" value="Sign in" />
     </div>
   </form> 
   <!-- </div> -->

   {{/if}}

	
	</div>
	</div>

</template>