<template name="editIdea">
<div class="container">
  <div class="pagecontainer">
   {{> flashMessages}}
   <!-- {{> quickForm collection="Projects" id="insertProjectForm" type="insert"}} -->
   {{#autoForm collection="Ideas" doc=idea id="editIdeaForm" type="update"}}
   <fieldset>
   	<legend> Edit an Idea </legend>
   	{{> afQuickField name='title' class='strInput'}}
   	{{> afQuickField name='description' rows = 3}}
        {{> afQuickField name='jiraID'}}
	 {{> afQuickField name='exturl' class='strInput'}}
   {{> afQuickField name='sponsors'}}
   {{> afQuickField name='epics' options=EpicList}}
   {{> afQuickField id='initialsInput' name='submitterInitials'}}
   

   </fieldset>
   <div>
   <button type="submit" class="btn btn-primary"> Save </button>
   <button type="button" class="btn btn-default cancel">Cancel</button>
   </div>
   {{/autoForm}}
 </div>
</div>

</template>