
<template name="ideas">
<div class="container">
  <div class="pagecontainer">
   {{> flashMessages}}

<!--
<div class="search pull-right" style="width:100%;">
<div class="searchText" style="width:50%;">
Search: 
</div>
{{> EasySearch.Input index=ideasIndex}}
</div> -->
		
	<!-- <div class="item">
		    <div class="item-content-block tags">
		    	<a id="allfilter" href={{pathFor 'projects'}}>All</a>
		    
		    	{{#each EpicsList}}
		    	
		    	<a id="filter" href="#">{{label}}</a>
		    	{{/each}}
		    </div>
		</div> -->
	<div class="ideaPage">
	<div class="ideaPageTitle">
	<div class="h2"> List of Ideas <span class="btn btnIdea"> <a href={{pathFor 'submitIdea'}}> <i class="fa fa-icon-file"> + </i> New idea </a></span></div> 
	</div>
		<div class="row">
			{{#each ideas}}
			 <div class="idea">
			 	<h4> {{title}} </h4>
			 	<span> {{description}} </span>
			 	<br />
			 </div>
			{{else}}
				<div class="container">
		  			<h3> No ideas in progress </h3>
				</div>
			{{/each}}
		</div>
		
		
	</div>
</div>
</div>
</template>