
<template name="ideas">
<div class="container">
  <div class="pagecontainer">
   {{> flashMessages}}
   
   <div class="item">
		    <div class="item-content-block tags">
		    	<a id="allfilter" href={{pathFor 'ideas'}}>All</a>
		    
		    	{{#each EpicsList}}
		    	
		    	<a id="filter" href="#">{{label}}</a>
		    	{{/each}}
		    </div>
		</div>

 
   	<div class="row ideaHeader">
   	<a class="btn btnNewIdea pull-right" href="{{pathFor 'submitIdea'}}"> New </a>

		


<div class="searchBar">    
<div class="searchText">
Search: 
</div>

{{> EasySearch.Input placeholder="Search..." index=IdeasIndex}}

 </div>
	</div>
	
	{{#EasySearch.IfInputEmpty index=IdeasIndex}}
  	{{> ideasList }}
  	{{else}}
  	{{> searchResultsIdeas}}	
	{{/EasySearch.IfInputEmpty}}




	</div>
	</div>
</template>
	

<template name="ideasList">

This is the ideasList template
    <div class="qa-message-list" id="wallmessages">
    {{#each ideas}}
    				<div class="message-item" id="m16">
						<div class="message-inner">
							<div class="message-head clearfix">
								<div class="pull-right"> 
									{{#if isInRole 'admin'}}
										  <a href="{{pathFor 'editIdea'}}"> Edit </a>

									{{/if}}
								</div>
								<div class="avatar pull-left"><img class="Ideaimg" src="{{getImageURL submitterInitials}}" onError="this.src='/img/cguser_default.png'"></div>

								<div class="user-detail">
									<h5 class="handle">{{title}}</h5>
									<div class="post-meta">
										<div class="asker-meta">
											<span class="qa-message-what"></span>
											<span class="qa-message-when">
												<span class="qa-message-when-data">{{getDate createdAt}}</span>
											</span>
											<span class="qa-message-who">
												<span class="qa-message-who-pad">by </span>
												<span class="qa-message-who-data">{{submitterInitials}}</span>
											</span>
											<span class="qa-sponsor"> {{checkSponsors sponsors }} </span>
										</div>
									</div>
								</div>
							</div>
							<div class="qa-message-content">
								{{description}}
							</div>
					</div>
					</div>
	{{else}}
	<div class="noIdeasMsg">
		No ideas submitted for this epic. Please click on New to submit a new idea.
	</div>	
	{{/each}}		
	</div>

</template>

<template name="searchResultsIdeas">
	searchResults are here.
	  <div class="qa-message-list" id="wallmessages">
      {{#EasySearch.Each index=IdeasIndex}}
    				<div class="message-item" id="m16">
						<div class="message-inner">
							<div class="message-head clearfix">
							<div class="pull-right"> 
									{{#if isInRole 'admin'}}
										  <a href="{{pathFor 'editIdea'}}"> Edit </a>

									{{/if}}
								</div>
								<div class="avatar pull-left"><img class="Ideaimg" src="{{getImageURL submitterInitials}}" onError="this.src='/img/cguser_default.png'"></div>

								<div class="user-detail">
									<h5 class="handle">{{title}}</h5>
									<div class="post-meta">
										<div class="asker-meta">
											<span class="qa-message-what"></span>
											<span class="qa-message-when">
												<span class="qa-message-when-data">{{getDate createdAt}}</span>
											</span>
											<span class="qa-message-who">
												<span class="qa-message-who-pad">by </span>
												<span class="qa-message-who-data">{{submitterInitials}}
												</span>
												
											
											</span>
										<span class="qa-sponsor"> {{checkSponsors sponsors }} </span>
										</div>
									</div>
								</div>
							</div>
							<div class="qa-message-content">
								{{description}}
							</div>
					</div>
					</div>
	{{else}}
	<div class="noIdeasMsg">
		No ideas submitted for this epic. Please click on New to submit a new idea.
	</div>	
	{{/EasySearch.Each}}		
	</div>
</template>

