<template name="submitIdea">
<div class="container">
  <div class="pagecontainer">
   {{> flashMessages}}
   {{#autoForm collection="Ideas" id="submitIdeaForm" type="insert"}}
   <fieldset>
   <div>
      
   	<legend> Submit an Idea</legend>    
   </div>
   {{> afQuickField id='initialsInput' name='submitterInitials'}}
   	{{> afQuickField name='title' class='strInput'}}
   	{{> afQuickField name='description' rows = 3}}
   {{> afQuickField name='sponsors'}}
   {{> afQuickField name='epics' options=EpicList}}
  
   


   </fieldset>
   <div>
   <button type="submit" class="btn btn-primary"> Submit </button>
    <button type="button" class="btn btn-default cancel">Cancel</button>
    </div>
   {{/autoForm}}
 </div>
</div>

</template>