<template name="overview">
  <div class="pagecontainer">
 	{{> flashMessages}}
  	<section class="hero" id="hero">
		<div class="container">
		
			<div class="caption">
				<div class="square_caption pull-left" style="width:30%;">
				<!--<h1 class="animated wow fadeInLeft">Join us on&nbsp;a quest&nbsp;for solutions.</h1> -->
				<h1 class="animated wow fadeInLeft">Help make ideas happen.</h1>
				</div>
				
				<div class="caption_desc pull-left" style="width:69%;">
				<h3 class="text  animated wow fadeInLeft"> We need faster, better, cheaper technology solutions. <br/><br/> Our success of tomorrow will depend on providing these solutions. <br/> <br/>
				
				<div class="q">Are you ready for this exciting journey?</div> </h3>

				<a href="#process" class="app_store_btn text-uppercase animated wow fadeInLeft">
					<i class="icon-file-text"></i>
					<span>Process</span>
				</a>

				<a href="#services" class="app_store_btn text-uppercase animated wow fadeInLeft">
					<i class="icon-file-text"></i>
					<span>Services</span>
				</a>

				<a href="{{pathFor 'projects'}}" class="app_store_btn text-uppercase animated wow fadeInLeft">
					<i class="icon-cogs"></i>
					<span>Lab Projects</span>
				</a>
				</div>

				
			</div>	
		<div class="quoteHero">

						<blockquote> <p> For good ideas and true innovation, you need human interaction, conflict, argument & debate.</p><span class="author text-uppercase">- Margaret Heffernan </span> (Enterpreneur, CEO, Keynote Speaker) </blockquote>
						
	
			</div>	
		</div>
	
	
	</section>
	<section class="about" id="process">
		<div class="container">
		<!--<h1 class="text-uppercase"><i>We make ideas happen...</i></h1> -->
			<div class="row">
				<div class="col-md-5 text-center animated wow fadeInLeft">
					<div class="iphone">
						<img src="img/creative.jpg" alt="" titl="">
					</div>
				</div>
				<div class="col-md-7 animated wow fadeInRight">
					<div class="features_list">
						<!--
						<h1 class="text-uppercase">We make ideas happen</h1>
						<blockquote> <p> For good ideas and true innovation, you need human interaction, conflict, argument & debate.</p></blockquote>
						<span class="author text-uppercase">- Margaret Heffernan </span>
						-->
						
						<h3>
						Concept Testing in Lab
						</h3>
						<ul class="list-unstyled">
							<li> 
								<span>1. <i class="fa fa-lightbulb-o fa-2x"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ideate</span>
							</li>
							
							<li>
								<span>2. <i class="fa fa-filter fa-2x"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hypothesize</span>
							</li> 
							<li >
								<span>3. <i class="fa fa-cogs fa-2x"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experiment </span>
							</li>
													
							<li>
								<span>4. <i class="fa fa-newspaper-o fa-2x"> </i>&nbsp;&nbsp;&nbsp;&nbsp;Demonstrate</span>
							</li>
							<li>
								<span>5. <i class="fa fa-graduation-cap fa-2x"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graduate</span>
							</li>
												
							
						</ul>

						<!-- 
						<a href="#" class="app_store_btn text-uppercase" id="play_video" data-video="http://www.youtube.com/embed/2G5OTWxHYnE?autoplay=1&showinfo=0">
							<i class="play_icon"></i>
							<span>Watch Video</span>
						</a>
						<a href="#hero" class="app_link">Submit an Idea</a>
						-->
					</div>					
				</div>
			</div>
		</div>

		<div class="about_video show_video">
			<a href="" class="close_video"></a>
		</div>
	</section>

	<section class="app_features" id="services">
		<div class="container">

			<div class="row text-center">
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay="0s">
					<img src="img/brainstorm.png" alt="" title="">
					<h1 class="text-uppercase">Cultivate Ideas</h1>
					<p class="">Formulate business value, hypothesis, and feasibility/viability questions for the experiments. </p>
				</div>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".1s">
					<img src="img/connect_dots.png" alt="" title="">
					<h1 class="text-uppercase">Connect Dots</h1>
					<p class="">Help form cross-domain virtual teams with right SMEs and business stakeholders</p>
				</div>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".1s">
					<img src="img/Rubber_Radar.png" alt="" title="">
					<h1 class="text-uppercase">Assess Landscape</h1>
					<p class="">Research industry innovations and conduct emerging technology experimentation.</p>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay="0s">
					<img src="img/vendor.png" alt="" title="">
					<h1 class="text-uppercase">Vendor Trials</h1>
					<p class="">Point of contact for working with CG VMO, Legal and stakeholders to initiate lab vendor trials.</p>
				</div>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".2s">
					<img src="img/rocket.png" alt="" title="">
					<h1 class="text-uppercase">Provide Launchpad</h1>
					<p class="">Assist in preparing, running and recording demos and findings.</p>
				</div>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".1s">
					<img src="img/Infrastructure.png" alt="" title="">
					<h1 class="text-uppercase">Perform Heavy Lifting</h1>
					<p class="">Provision tailored environments, configure solutions, and develop high-fidelity prototypes.</p>
				</div>
			</div>
			

		</div>
	</section>
</div>

</template>
