<template name="overview">
  <div class="pagecontainer">
 

  	<section class="hero" id="hero">
		<div class="container">
		
			<div class="caption">
				<div class="square_caption pull-left" style="width:30%;">
				<!--<h1 class="animated wow fadeInLeft">Join us on&nbsp;a quest&nbsp;for solutions.</h1> -->
				<h1 class="animated wow fadeInLeft">Help make ideas happen.</h1>
				</div>
				
				<div class="caption_desc pull-left" style="width:69%;">
				<h3 class="text  animated wow fadeInLeft"> We need faster, better, cheaper technology solutions. <br/><br/> Our success of tomorrow will depend on providing these solutions. <br/> <br/>
				
				<div class="q">Are you ready for this exciting journey?</div> </h3>

				<a href="#process" class="app_store_btn text-uppercase animated wow fadeInLeft">
					<i class="icon-file-text"></i>
					<span>Process</span>
				</a>

				<a href="{{pathFor 'projects'}}" class="app_store_btn text-uppercase animated wow fadeInLeft">
					<i class="icon-cogs"></i>
					<span>Lab Projects</span>
				</a>
				</div>

				
			</div>	
		<div class="quoteHero">

						<blockquote> <p> For good ideas and true innovation, you need human interaction, conflict, argument & debate.</p><span class="author text-uppercase">- Margaret Heffernan </span> (Enterpreneur, CEO, Keynote Speaker) </blockquote>
						
	
			</div>	
		</div>
	
	
	</section>
	<section class="about" id="process">
		<div class="container">
		<!--<h1 class="text-uppercase"><i>We make ideas happen...</i></h1> -->
			<div class="row">
				<div class="col-md-5 text-center animated wow fadeInLeft">
					<div class="iphone">
						<img src="img/creative.jpg" alt="" titl="">
					</div>
				</div>
				<div class="col-md-7 animated wow fadeInRight">
					<div class="features_list">
						<!--
						<h1 class="text-uppercase">We make ideas happen</h1>
						<blockquote> <p> For good ideas and true innovation, you need human interaction, conflict, argument & debate.</p></blockquote>
						<span class="author text-uppercase">- Margaret Heffernan </span>
						-->
						
						<h3>
						Process for Lab Experimentation
						</h3>
						<ul class="list-unstyled">
							<li> 
								<span>Step 1. <i class="fa fa-lightbulb-o fa-2x"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Idea</span>
							</li>
							<li> 
								<span>Step 2. <i class="fa fa-filter fa-2x"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Refine</span>
							</li>
							<li >
								<span>Step 3. <i class="fa fa-flask fa-2x"> </i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experiment </span>
							</li>
							<li>
								<span>Step 4. <i class="fa fa-newspaper-o fa-2x"> </i>&nbsp;&nbsp;&nbsp;&nbsp;Publish</span>
							</li>
							<li>
								<span>Step 5. <i class="fa fa-graduation-cap fa-2x"> </i>&nbsp;&nbsp;Graduate</span>
							</li>
						</ul>
						<!-- 
						<a href="#" class="app_store_btn text-uppercase" id="play_video" data-video="http://www.youtube.com/embed/2G5OTWxHYnE?autoplay=1&showinfo=0">
							<i class="play_icon"></i>
							<span>Watch Video</span>
						</a>
						<a href="#hero" class="app_link">Submit an Idea</a>
						-->
					</div>					
				</div>
			</div>
		</div>

		<div class="about_video show_video">
			<a href="" class="close_video"></a>
		</div>
	</section>

	<section class="app_features" id="resources">
		<div class="container">

			<div class="row text-center">
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay="0s">
					<img src="img/f_icon1.png" alt="" title="">
					<h1 class="text-uppercase">Virtual Teams</h1>
					<p class="text-lowercase">A Virtual Team is formed of Key SMEs from respective groups for the overall idea.</p>
				</div>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".1s">
					<img src="img/f_icon2.png" alt="" title="">
					<h1 class="text-uppercase">Scanning the Landscape</h1>
					<p class="text-lowercase">We scan the current products and industry standards for forming the possible set of solutions</p>
				</div>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".2s">
					<img src="img/f_icon3.png" alt="" title="">
					<h1 class="text-uppercase">Concept Testing</h1>
					<p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis risus quisque ultrices elit.</p>
				</div>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay="0s">
					<img src="img/f_icon4.png" alt="" title="">
					<h1 class="text-uppercase">Right Fit? </h1>
					<p class="text-lowercase">Security, Scalability, Performance, Capacity measurement</p>
				</div>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".1s">
					<img src="img/f_icon5.png" alt="" title="">
					<h1 class="text-uppercase">Infrastructure As A Service</h1>
					<p class="text-lowercase">vel ultrices mauris libero id diam. Vivamus tellus sagittis facilisis nisi quis mollis risus quisque ultrices elit.</p>
				</div>
				<div class="col-sm-4 col-md-4 details animated wow fadeInDown" data-wow-delay=".2s">
					<img src="img/f_icon6.png" alt="" title="">
					<h1 class="text-uppercase">Graduation Options</h1>
					<p class="text-lowercase">Several options available to stakeholders for next actions </p>
				</div>
			</div>

		</div>
	</section>
</div>

</template>