
<template name="people">
<div class="container">
  <div class="pagecontainer">
   <section class="aboutPage">
   <div class="row">
      <div class="jumbotron">
      <h3> Who we are: </h3>
        
        <ul>
        <li> A small but resourceful core team with a modest budget and access to virtual team of internal and external thought leaders </li>
        <li> A self-contained lab for quickly prototyping new ideas, vendors and technologies </li>
        <li> An incubator for new technologies that could benefit Capital Group </li>
        <li> A think-tank for solving complex problems in an innovative way </li>
        <li> A physical lab on the irvine campus and cloud extenstions with a rapid technology testing setup </li>
        <li> In-house platform for identifying and teaching skills of the future </li>
        </ul>
      

      </div>
   
      <div class="jumbotron">
      <h3> Who we are not: </h3>
        
        <ul>
        <li> Another app-services team. </li>
        <li> An implementation team for projects beyond the prototype phase. </li>
        <li> The only place for technology innovation and adoption. </li>
        <li> Testing environment for existing CG solutions. </li>
        </ul>
      

      </div>
      <img src="/img/down_arrow.png">
    </div>
    
    </section>

    <div class="row">
      
        <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Alex Sirkovich</h2>

                    <p>Support Idea Success, Quick Graduation &nbsp;and Help Technology Adoption</p>
                   <!-- <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a> -->
                   <p>
                    <h3><a href="mailto:axxs@capgroup.com" class="label label-default emailProf">Email</a></h3></p>
                </div>
                <img src="/img/Alex.jpg" alt="...">
            </div>
      </div>
      <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Billy Yeh</h2>
                    <!--<p> Interests: Big Data, Complex Event Process, Business Analytics </p> -->
                    <p>Research and prototypes of analytics solutions and experimentations with complex data sets and models</p>
                    <p>
                    	<h3><a href="mailto:tmb@capgroup.com" class="label label-default emailProf">Email</a> </h3>
                    </p>
                </div>
                <img src="/img/Billy.jpg" alt="...">
            </div>
      </div>
   
        <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Jacob Rascon</h2>
                   
                      <p>Driving the Lab Infrastructure Operations and Modernization</p>
                      <p>
                    	<h3><a href="mailto:jbxr@capgroup.com" class="label label-default emailProf">Email</a> </h3>
                    </p>
                </div>
                <img src="/img/Jacob.jpg" alt="...">
            </div>
      </div>
         <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Jet Long</h2>
                  	 <p>Cloud Computing, Integration, Security, Middleware and SOA</p>
                    <p>
                    	<h3><a href="mailto:tmb@capgroup.com" class="label label-default emailProf">Email</a> </h3>
                    </p>
                </div>
                <img src="/img/Jet.jpg" alt="...">
            </div>
      </div>
      <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Mauricio Munigia</h2>
                    <p>Architecture Specialist, Driving Solutions for Business.</p>
                    <p>
                      <h3><a href="mailto:tmb@capgroup.com" class="label label-default emailProf">Email</a> </h3>
                    </p>
                </div>
                <img src="/img/Mauricio.jpg" alt="...">
            </div>
      </div>


  	 <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Tanmay Bhide</h2>
                    <p>Lab Infrastructure Modernization, Full Stack Support</p>
                    <p>
                    	<h3><a href="mailto:tmb@capgroup.com" class="label label-default emailProf">Email</a> </h3>
                    </p>
                </div>
                <img src="/img/Tanmay2.jpg" alt="...">
            </div>
      </div>

          
        
  </div>
  </div>
</div><!-- /.container -->
</template>