
<template name="people">
<div class="container">
  <div class="pagecontainer">
    <div class="row">
      
        <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Alex Sirkovich</h2>
                    <p>Support Idea Success, Quick Graduation &nbsp;and Help Technology Adoption</p>
                   <!-- <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a> -->
                   <p>
                    <h3><a href="mailto:axxs@capgroup.com" class="label label-default emailProf">Email</a></h3></p>
                </div>
                <img src="/img/Alex.jpg" alt="...">
            </div>
      </div>

        <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Jacob Rascon</h2>
                    <p>Driving the Lab Infrastructure Operations and Modernization</p>
                    <p>
                    	<h3><a href="mailto:jbxr@capgroup.com" class="label label-default emailProf">Email</a> </h3>
                    </p>
                </div>
                <img src="/img/Jacob.jpg" alt="...">
            </div>
      </div>

          
        
  </div>
  </div>
</div><!-- /.container -->
</template>