
<template name="people">
<div class="container">
  <div class="pagecontainer">
    <div class="row">
      
        <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Alex Sirkovich</h2>

                    <p>Support Idea Success, Quick Graduation &nbsp;and Help Technology Adoption</p>
                   <!-- <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a> -->
                   <p>
                    <h3><a href="mailto:axxs@capgroup.com" class="label label-default emailProf">Email</a></h3></p>
                </div>
                <img src="/img/Alex.jpg" alt="...">
            </div>
      </div>
      <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Billy Yeh</h2>
                    <!--<p> Interests: Big Data, Complex Event Process, Business Analytics </p> -->
                    <p>Research and prototypes of analytics solutions and experimentations with complex data sets and models</p>
                    <p>
                    	<h3><a href="mailto:tmb@capgroup.com" class="label label-default emailProf">Email</a> </h3>
                    </p>
                </div>
                <img src="/img/Billy.jpg" alt="...">
            </div>
      </div>
   
        <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Jacob Rascon</h2>
                   
                      <p>Driving the Lab Infrastructure Operations and Modernization</p>
                      <p>
                    	<h3><a href="mailto:jbxr@capgroup.com" class="label label-default emailProf">Email</a> </h3>
                    </p>
                </div>
                <img src="/img/Jacob.jpg" alt="...">
            </div>
      </div>
         <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Jet Long</h2>
                  	 <p>Cloud Computing, Integration, Security, Middleware and SOA</p>
                    <p>
                    	<h3><a href="mailto:tmb@capgroup.com" class="label label-default emailProf">Email</a> </h3>
                    </p>
                </div>
                <img src="/img/Jet.jpg" alt="...">
            </div>
      </div>
      <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Mauricio Munigia</h2>
                    <p>Architecture Specialist, Driving Solutions for Business.</p>
                    <p>
                      <h3><a href="mailto:tmb@capgroup.com" class="label label-default emailProf">Email</a> </h3>
                    </p>
                </div>
                <img src="/img/Mauricio.jpg" alt="...">
            </div>
      </div>


  	 <div class="col-md-6">            
            <div class="snipthumbnail">
                <div class="snipcaption">
                    <h2>Tanmay Bhide</h2>
                    <p>Lab Infrastructure Modernization, Full Stack Support</p>
                    <p>
                    	<h3><a href="mailto:tmb@capgroup.com" class="label label-default emailProf">Email</a> </h3>
                    </p>
                </div>
                <img src="/img/Tanmay2.jpg" alt="...">
            </div>
      </div>

          
        
  </div>
  </div>
</div><!-- /.container -->
</template>