<template name="profiles">
<div class="container">
  <div class="pagecontainer">
        <div class="profiles">

        <div class="profile">
                <div class="col-md-12 profileShort">
                <button class="fa fa-envelope-o pull-right"><a class="emailButton" href="mailto:axxs@capgroup.com"> Email </a></button>
                     <div class="profileName"><h1>Alex Sirkovich</h1> </div>

                     <img src="/img/axxs.jpg" alt="post img" class="pull-left img-responsive thumb  profileImage img-thumbnail">
                     
                        
                     <article><p class="profileDesc">
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                         five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                         of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                         Lorem Ipsum.    
                         </p></article>
                    <div class="badgesProfile">
                    Interests:
                    <span class="label">Data Analytics</span> <span class="label">CEP</span>
                    </div>
                    <br/>
                    

                 </div>
        </div>


            <div class="profile">
                <div class="col-md-12 profileShort">
                <button class="fa fa-envelope-o pull-right"><a class="emailButton" href="mailto:bcy@capgroup.com"> Email </a> </button>
                     <div class="profileName"><h1>Billy Yeh</h1> </div>

                     <img src="/img/bcy.jpg" alt="post img" class="pull-left img-responsive thumb  profileImage img-thumbnail"/>
                     
                        
                     <article><p class="profileDesc">
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                         five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                         of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                         Lorem Ipsum.    
                         </p></article>
                     <div class="badgesProfile">
                    <span class="label label-default">Data Analytics</span> <span class="label label-primary">CEP</span>
                    </div>
                    <br/>
                    

                 </div>
        </div>

         
         <div class="profile">
                <div class="col-md-12 profileShort">
                <button class="fa fa-envelope-o pull-right"><a class="emailButton" href="mailto:jtfl@capgroup.com"> Email </a></button>
                     <div class="profileName"><h1>Jet Long</h1> </div>

                     <img src="/img/jftl_1.jpg" alt="post img" class="pull-left img-responsive thumb  profileImage img-thumbnail"/>
                     
                        
                     <article><p class="profileDesc">
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                         five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                         of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                         Lorem Ipsum.    
                         </p></article>
                     <div class="badgesProfile">
                    <span class="label label-default">Data Analytics</span> <span class="label label-primary">CEP</span>
                    </div>
                    <br/>
                    

                 </div>
        </div>

         <div class="profile">
                <div class="col-md-12 profileShort">
                <button class="fa fa-envelope-o pull-right"><a class="emailButton" href="mailto:jbxr@capgroup.com"> Email </a></button>
                     <div class="profileName"><h1>Jacob Rascon</h1> </div>

                     <img src="/img/jbxr.jpg" alt="post img" class="pull-left img-responsive thumb  profileImage img-thumbnail">
                     
                        
                     <article><p class="profileDesc">
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                         five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                         of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                         Lorem Ipsum.    
                         </p></article>
                     <div class="badgesProfile">
                    <span class="label label-default">Data Analytics</span> <span class="label label-primary">CEP</span>
                    </div>
                    <br/>
                    

                 </div>
        </div>

         <div class="profile">
                <div class="col-md-12 profileShort">
                <button class="fa fa-envelope-o pull-right"><a class="emailButton" href="mailto:maum@capgroup.com"> Email </a></button>
                     <div class="profileName"><h1>Mauricio Munigia</h1> </div>

                     <img src="/img/maum.jpg" alt="post img" class="pull-left img-responsive thumb margin10 profileImage img-thumbnail">
                     
                        
                     <article><p class="profileDesc">
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                         five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                         of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                         Lorem Ipsum.    
                         </p></article>
                     <div class="badgesProfile">
                    <span class="label label-default">Data Analytics</span> <span class="label label-primary">CEP</span>
                    </div>
                    <br/>
                    

                 </div>
        </div>

         <div class="profile">
                <div class="col-md-12 profileShort">
                <button class="fa fa-envelope-o pull-right"><a class="emailButton" href="mailto:tmb@capgroup.com"> Email </a></button>
                     <div class="profileName"><h1>Tanmay Bhide</h1> </div>

                     <img src="/img/tmb.jpg" alt="post img" class="pull-left img-responsive thumb margin10 profileImage img-thumbnail">
                     
                        
                     <article><p class="profileDesc">
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                         five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                         of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                         Lorem Ipsum.    
                         </p></article>
                     <div class="badgesProfile">
                    <span class="label label-default">Data Analytics</span> <span class="label label-primary">CEP</span>
                    </div>
                    <br/>
                    

                 </div>
        </div>


        </div>
</div>
</div>
</template>