<template name="videos">
	<div class="container">
		<div class="pagecontainer">
			<ul class="list-unstyled video-list-thumbs row">
				<li class="videoitem col-md-3 col-sm-4 col-xs-6">
					<a href="" id="DelphixModalLink" title="Emerging Data Copy Management Solution">
						
						<img src="/img/projects/database_virtualization_vid.jpg" alt="Delphix" class="img-responsive" />
						<!-- <h2>Emerging Data Copy Management Solution enables self service access for developers and testers.</h2> -->
						<h2> Emerging Data Copy Solution </h2>
						<span class="glyphicon glyphicon-play-circle"></span>
						<span class="duration"></span>
					</a>
				</li> 
				
				<li class="videoitem col-md-3 col-sm-4 col-xs-6">
					<a href="" id="LabRebuildModalLink" title="Lab space remodel for better collaboration.">
						<img src="/img/projects/plans.jpg" alt="LabRemodel" class="img-responsive"  />
						<h2>Recent Lab Remodel </h2>
						<span class="glyphicon glyphicon-play-circle"></span>
						<span class="duration"></span>
					</a>
				</li> 

				<li class="videoitem col-md-3 col-sm-4 col-xs-6">
					<a href="" id="CEPModalLink" title="Market Dashboard">
						<img src="/img/projects/tradingdashboard.gif" alt="CEP" class="img-responsive" />
						<!-- <h2>Emerging Data Copy Management Solution enables self service access for developers and testers.</h2> -->
						<h2> Market Dashboard</h2>
						<span class="glyphicon glyphicon-play-circle"></span>
						<span class="duration"></span>
					</a>
				</li> 
	<!--
	<li class="videoitem col-md-3 col-sm-4 col-xs-6">

		<a href="" id="DevEnablementModalLink" title="Dev enablement in the CIRRUS world with on-demand provisioning of environments.">
			<img src="/img/projects/dev-widget_360.png" alt="Dev-E" class="img-responsive"/>
			<h2>Dev Zone - Tech Expo</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration"></span>
		</a>
	</li>

	<li class="videoitem col-md-3 col-sm-4 col-xs-6">

		<a href="" id="DevEnablementModalLink" title="Dev enablement in the CIRRUS world with on-demand provisioning of environments.">
			<img src="/img/projects/dev-widget_360.png" alt="Dev-E" class="img-responsive" />
			<h2>Dev Zone - Tech Expo</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration"></span>
		</a>
	</li>
	-->
	</ul>
	<!-- Appian Modal Begin 
			<div class="modal fade container" id="AppianModal">
   				 <div class="modal-dialog modal-sm">
      			<div class="modal-content">

		        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title">Appian Dashboard</h4>
		        </div>

		        <div class="modal-body">

		        <iframe width="100%" height="600px" frameborder="0" src="http://thecapitalgroup.qumucloud.com/view/tJz6ZuETx2U?embed=true&amp;width=800&amp;height=600"></iframe>

		        </div>

		        <div class="modal-footer">
		        </div>

     			 </div>
  		  </div>
 		 </div> -->
 		 <!-- Appian Modal Done -->
<!--- CEP modal -->

	<div class="modal fade container" id="CEPModal">
   				 <div class="modal-dialog modal-sm">
      			<div class="modal-content">

		        <div class="modal-header">
		        <button type="button" id="closeCEPModal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title">Market Dashboard: Real Time Events Processing and Correlation</h4>
		        </div>

		        <div class="modal-body">

		        <iframe width="100%" height="600px" frameborder="0" src="http://thecapitalgroup.qumucloud.com/view/cep?embed=true&width=800&height=600"></iframe>

		        </div>

		        <div class="modal-footer">
		        </div>

     			 </div>
  		  </div>
 		 </div>

 		 <!-- CEP Modal Done -->

 		 <!--- Delphix modal -->

	<div class="modal fade container" id="DelphixModal">
   				 <div class="modal-dialog modal-sm">
      			<div class="modal-content">

		        <div class="modal-header">
		        <button type="button" id="closeDelphixModal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title">Emerging Data Copy Solution - Delphix PoC</h4>
		        </div>

		        <div class="modal-body">

		        <iframe width="100%" height="600px" frameborder="0" src="http://thecapitalgroup.qumucloud.com/view/doxVIqYRosG?embed=true&amp;width=800&amp;height=600"></iframe>

		        </div>

		        <div class="modal-footer">
		        	Emerging Data Copy Management Solution enables self service access for developers and testers.
		        </div>

     			 </div>
  		  </div>
 		 </div>

 		 <!-- Delphix Modal Done -->


<!--- Lab Remodel modal -->

	<div class="modal fade container" id="LabRebuildModal">
   				 <div class="modal-dialog modal-sm">
      			<div class="modal-content">

		        <div class="modal-header">
		        <button type="button" id="closeLabRebuildModal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title">Lab Remodel - built for more collaboration and ideation.</h4>
		        </div>

		        <div class="modal-body">

		        <iframe width="100%" height="600px" frameborder="0" src="http://thecapitalgroup.qumucloud.com/view/IVmHUFgTIEh?embed=true&amp;width=800&amp;height=600"></iframe>

		        </div>

		        <div class="modal-footer">
		        </div>

     			 </div>
  		  </div>
 		 </div>

 		 <!-- Lab Remodel Modal Done -->

<!--- Dev-E modal 

	<div class="modal fade container" id="DevEnablementModal">
   				 <div class="modal-dialog modal-sm">
      			<div class="modal-content">

		        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title">Dev Zone - Developer enablement through on-demand provisioning of environments.</h4>
		        </div>

		        <div class="modal-body">

		        <iframe width="100%" height="600px" frameborder="0" src="http://thecapitalgroup.qumucloud.com/view/tJz6ZuETx2U?embed=true&amp;width=800&amp;height=600"></iframe>

		        </div>

		        <div class="modal-footer">
		        </div>

     			 </div>
  		  </div>
 		 </div> -->

 		 <!-- Dev-E Modal Done -->



	</div>
	</div>

</template>

