<!-- <template name="videos">
<div class="container">

<div class="pagecontainer">
<div class="videosPage">
	<div class="row">
	<div class="col-md-10">

		<iframe width="1214" height="760" frameborder="0" src="http://thecapitalgroup.qumucloud.com/view/tJz6ZuETx2U?embed=true&amp;width=800&amp;height=600"></iframe>

	</div>

	</div>
</div>
</div>
</div>
</template> -->

<template name="videos">

	<div class="container">

		<div class="pagecontainer">


		<ul class="list-unstyled video-list-thumbs row">

	<!--<li class="col-lg-12 col-sm-12 col-xs-12">

		<a href="" id="AppianModalLink" title="Appian Workflow tool changes the way corporate action processes events.">
			<img src="/img/projects/bpm_workflow.png" alt="Appian BPM" class="img-responsive" height="400px" />
			<h2>Appian Workflow tool changes the way corporate action processes events.</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration"></span>
		</a>
	</li> 
	<li class="col-lg-12 col-sm-12 col-xs-12">

		<a href="" id="CEPModalLink" title="Complex Events Processing and Correlation">
			<img src="/img/projects/trading_dashboard_vid.jpg" alt="Trading Dashboard" class="img-responsive" height="400px" />
			<h2>Event correlation technologies to enable trading and market activities dashboards</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration"></span>
		</a>
	</li>  -->
	<li class="col-lg-12 col-sm-12 col-xs-12">
		<a href="" id="DelphixModalLink" title="Emerging Data Copy Management Solution">
			<img src="/img/projects/database_virtualization_vid.jpg" alt="Delphix" class="img-responsive" height="400px" />
			<h2>Emerging Data Copy Management Solution enables self service access for developers and testers.</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration"></span>
		</a>
	</li> 
	
	<li class="col-lg-12 col-sm-12 col-xs-12">
		<a href="" id="LabRebuildModalLink" title="Lab space remodel for better collaboration.">
			<img src="/img/projects/plans.jpg" alt="LabRemodel" class="img-responsive" height="400px" />
			<h2>Lab space was built for more collaboration and ideation.</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration"></span>
		</a>
	</li> 

	<li class="col-lg-12 col-sm-12 col-xs-12">

		<a href="" id="DevEnablementModalLink" title="Dev enablement in the CIRRUS world with on-demand provisioning of environments.">
			<img src="/img/projects/dev-widget_360.png" alt="Dev-E" class="img-responsive" height="400px" />
			<h2>Developer enablement through on-demand provisioning of environments.</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration"></span>
		</a>
	</li>

	</ul>
	<!-- Appian Modal Begin -->
			<div class="modal fade container" id="AppianModal">
   				 <div class="modal-dialog modal-sm">
      			<div class="modal-content">

		        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title">Appian Dashboard</h4>
		        </div>

		        <div class="modal-body">

		        <iframe width="100%" height="600px" frameborder="0" src="http://thecapitalgroup.qumucloud.com/view/tJz6ZuETx2U?embed=true&amp;width=800&amp;height=600"></iframe>

		        </div>

		        <div class="modal-footer">
		        </div>

     			 </div>
  		  </div>
 		 </div>
 		 <!-- Appian Modal Done -->
<!--- CEP modal -->

	<div class="modal fade container" id="CEPModal">
   				 <div class="modal-dialog modal-sm">
      			<div class="modal-content">

		        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title">Real Time Events Processing and Correlation</h4>
		        </div>

		        <div class="modal-body">

		        <iframe width="100%" height="600px" frameborder="0" src="http://thecapitalgroup.qumucloud.com/view/tJz6ZuETx2U?embed=true&amp;width=800&amp;height=600"></iframe>

		        </div>

		        <div class="modal-footer">
		        </div>

     			 </div>
  		  </div>
 		 </div>

 		 <!-- CEP Modal Done -->

 		 <!--- Delphix modal -->

	<div class="modal fade container" id="DelphixModal">
   				 <div class="modal-dialog modal-sm">
      			<div class="modal-content">

		        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title">Delphix PoC</h4>
		        </div>

		        <div class="modal-body">

		        <iframe width="100%" height="600px" frameborder="0" src="http://thecapitalgroup.qumucloud.com/view/doxVIqYRosG?embed=true&amp;width=800&amp;height=600"></iframe>

		        </div>

		        <div class="modal-footer">
		        </div>

     			 </div>
  		  </div>
 		 </div>

 		 <!-- Delphix Modal Done -->


<!--- Lab Remodel modal -->

	<div class="modal fade container" id="LabRebuildModal">
   				 <div class="modal-dialog modal-sm">
      			<div class="modal-content">

		        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title">Lab Remodel</h4>
		        </div>

		        <div class="modal-body">

		        <iframe width="100%" height="600px" frameborder="0" src="http://thecapitalgroup.qumucloud.com/view/IVmHUFgTIEh?embed=true&amp;width=800&amp;height=600"></iframe>

		        </div>

		        <div class="modal-footer">
		        </div>

     			 </div>
  		  </div>
 		 </div>

 		 <!-- Lab Remodel Modal Done -->

<!--- Dev-E modal -->

	<div class="modal fade container" id="DevEnablementModal">
   				 <div class="modal-dialog modal-sm">
      			<div class="modal-content">

		        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title">Dev Enablement</h4>
		        </div>

		        <div class="modal-body">

		        <iframe width="100%" height="600px" frameborder="0" src="http://thecapitalgroup.qumucloud.com/view/tJz6ZuETx2U?embed=true&amp;width=800&amp;height=600"></iframe>

		        </div>

		        <div class="modal-footer">
		        </div>

     			 </div>
  		  </div>
 		 </div>

 		 <!-- Dev-E Modal Done -->


<!--
		<div class="modal fade container" id="videosModalCEP">
   				 <div class="modal-dialog modal-sm">
      			<div class="modal-content">

		        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		          <h4 class="modal-title">Complex Events Correlation</h4>
		        </div>

		        <div class="modal-body">

		        <iframe width="100%" height="600px" frameborder="0" src="http://thecapitalgroup.qumucloud.com/view/tJz6ZuETx2U?embed=true&amp;width=800&amp;height=600"></iframe>

		        </div>

		        <div class="modal-footer">
		        </div>

     			 </div>
  		  </div>
 		 </div>
		</div>
-->
	</div>
	</div>

</template>


<!--

<template name="videos">
<div class="container">
<div class="pagecontainer">

<div class="container">

<ul class="list-unstyled video-list-thumbs row">

	<li class="col-lg-3 col-sm-4 col-xs-6">

		<a href="http://thecapitalgroup.qumucloud.com/view/tJz6ZuETx2U?embed=true" title="Claudio Bravo, antes su debut con el Barça en la Liga">
			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
			<h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
	<li class="col-lg-3 col-sm-4 col-xs-6">
		<a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
			<h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
	<li class="col-lg-3 col-sm-4 col-xs-6">
		<a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
			<h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
	<li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
		<a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
			<h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
    <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
		<a href="#" title="Claudio Bravo, antes su debut con el Barça en la Liga">
			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
			<h2>Claudio Bravo, antes su debut con el Barça en la Liga</h2>
			<span class="glyphicon glyphicon-play-circle"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
</ul>

</div>

</div>

</div>

</template> -->