<template name="header">

    <div class="header">

    <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor 'overview'}}"> <img src="/img/ATL_logo.png" style="display:inline-block; padding-bottom:5px;"> CG Advanced Technology Lab</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right anav">
                        <li><a class="anav" href="{{pathFor 'overview'}}">Overview</a></li>
                          <li><a class="anav" id="reserveSpace" href="{{pathFor 'ideas'}}">Ideas </a></li> 
                    
                       
                        <li><a class="anav" href="{{pathFor 'projects'}}">Workbench</a></li>
                        <!-- <li><a class="anav" href="{{pathFor 'videos'}}">Videos</a></li>-->
                       
                         <!-- <li><a class="anav" id="submitIdea" href="{{pathFor 'ideas'}}">Ideas</a></li> -->
                    <!--      <li><a class="anav" id="ideaLink" target="_blank" href="http://communities/atl/ideas.aspx">Ideas</a></li> -->
                        
                          <li><a class="anav" id="reserveSpace" href="{{pathFor 'reservations'}}">Reserve </a></li>
                           <li><a class="anav" href="{{pathFor 'people'}}">About Us</a></li>
                    
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->


  
  <div class="messages">
    {{#each messages}}
      <p class="message message-{{type}}">{{message}}</p>
    {{/each}}
  </div>
  </div>

</template>
